/* Desktop lớn: từ 1200px trở lên */
@media (min-width: 1200px) {
  .homeContainer {
    width: var(--main-width);
  }
  .home-list-product {
    grid-template-columns: repeat(4, 1fr);
  }
  .home-list-product-item img {
    height: 326px;
  }
}

/* Desktop nhỏ: từ 992px đến 1199.98px */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .homeContainer {
    width: 90%;
  }
  .home-list-product {
    grid-template-columns: repeat(3, 1fr);
  }
  .home-list-product-item img {
    height: 260px;
  }
}

/* Tablet: từ 576px đến 991.98px */
@media (min-width: 576px) and (max-width: 991.98px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    gap: 10px;
  }
  main{
    padding-top:175px;
  }
  .homeContainer {
    width: 98%;
    padding: 0 12px;
  }
  .homeMenu {
    gap: 12px;
    padding: 12px 0;
  }
  .home-list-product {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 16px;
  }
  .home-list-product-item img {
    height: 220px;
  }
  .footerContact .homeContainer {
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
  .footerContact {
    gap: 16px;
    bottom: 65px;
  }
}

/* Mobile: dưới 576px */
@media (max-width: 575.98px) {

  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    gap: 10px;
  }
  main{
    padding-top:175px;
  }
  .homeLogo img, .homeIconSocial, .homeSearchLogin {
    margin-left:0 !important;
    margin-right:0 !important;

  }
  .homeSearch{
    display: none;
  }
  
  .homeContainer {
    width: 100% !important;
    max-width: 100vw !important;
    padding: 0 10px !important;
  
  }
  .homeMenu {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    align-items: center;
  }
  .homeBanner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .homeBanner img {
    height: 140px;
    object-fit: cover;
    width: 100%;
  }
  .home-list-product {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    padding:0 10px !important;
  }
  .home-list-product-item {
    padding: 0 !important;
  }
  .home-list-product-item img {
    height: 225px !important;
    width: 180px !important;
    object-fit: cover;
  }
  .home-product-title {
    font-size: 18px;
  }
  .footerContact{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footerContact .homeContainer {
    
    flex-direction: column;
    gap: 20px;
  }
  .footerContact {
    flex-direction: column;
    gap: 10px;
  }
  footer {
    font-size: 12px;

  }
  footer .footer {
    gap: 10px;
    font-size: 12px;
    align-items: flex-start;
    
  }
}