/* ========================================================== Header =========================================== */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid #f1f1f1;
}
/* Social Media Icons */
.homeIconSocial {
  margin-left: 200px;
  display: flex;
  gap: 20px;
}
.homeIconSocial .bi-facebook {
  color: #3b5998;
}
.homeIconSocial .bi-instagram {
  color: #e1306c;
}
.homeIconSocial i {
  font-size: 28px;
  cursor: pointer;
}
/* logo */
.homeLogo img {
  margin-left: 100px;
  width: 150px;
  height: auto;
}
/* search and login */
.homeSearchLogin {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 200px;
}
.homeSearch {
  position: relative;
}
.homeSearch input[type="text"] {
  padding: 8px 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}
.homeSearch input[type="text"]:focus {
  border-color: #ed6b87;
}
.homeSearch button {
  position: absolute;
  padding: 8px 12px;
  border: none;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  top: 1px;
  right: 2px;
  background-color: transparent;
}

.Home_user .dropdown {
  background-color: var(--primary-color);
  padding: 3px 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.Home_user .dropdown-toggle:focus,
.Home_user .dropdown-toggle:hover {
  color: var(--primary-color);
}
.Home_user .dropdown-item {
  transition: color 0.3s ease;
}
.Home_user .dropdown-item:hover {
  color: var(--primary-color);
}

.Home_cart i,
.Home_user i{
  height: 20px;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  background-color: #ed6b87;
  color: white;
  border-radius: 10%;
  transition: all 0.3s ease;
  cursor: pointer;
}
.Home_cart i:hover,
.Home_user i:hover,
.Home_user:hover{
  opacity: 0.8;
}

/* =================================================================================== Footer =========================================== */

/* ==================================================================footer fixed=============================================================== */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: var(--fourth-color);
}
footer .footer {
  display: flex;
  gap: 50px;
  color: white;
  font-size: 14px;
}
/* ===================================================================footer absolute===============================================================*/

.footerContact {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
.footerContact h4 {
  padding-top: 30px;
  font-size: 15px;
  font-weight: 800;
  color: var(--primary-color);
  margin-bottom: 20px;
}
.footerContact a {
  font-size: 14px;
  color: var(--third-color);
  margin: 6px 0;
  display: block;
  transition: color 0.3s ease;
}
.footerContact a:hover {
  color: var(--primary-color);
}

.footerContact .homeContainer {
  display: flex;
  justify-content: space-between;
}

.footerLogo img {
  width: 120px;
  height: auto;
  margin-bottom: 10px;
}
.footerLogo p {
  font-size: 14px;
  color: var(--third-color);
  margin: 2px 0;
}
.footerFollow div a {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin: 6px 0;
}
.footerAddress div {
  max-width: 300px;
}
.footerAddress b {
  font-size: 14px;
  color: var(--third-color);
  margin: 2px 0;
}
